<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/Users/charles/.emacs.d/bin:/usr/bin:/bin:/usr/sbin:/sbin </string>
    </dict>
    <key>Label</key>
    <string>cmiquelon.nighthook</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/charles/nighthook-action</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/var/log/nighthook.log</string>
    <key>Debug</key>
    <true/>
    <key>WatchPaths</key>
    <array>
      <string>/Users/charles/Library/Preferences/.GlobalPreferences.plist</string>
    </array>
  </dict>
</plist>
